{% extends "minipipo1BlogBundle::layout.html.twig" %}

{% block title %}
	Rédiger un article - {{ parent() }}
{% endblock %}

{% block minipipoblog_body %}
        <h2><a href="#">Nouvel article</a></h2>
        <form action="#" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                        <button type="submit">Publier</button>
                </p>
        </form>
        

{% endblock %}
        
{% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/minipipo1blog/js/tiny_mce/tiny_mce.js') }}"></script>
        <script type="text/javascript">
                tinyMCE.init({
                        mode : "textareas"
                });
        </script>
{% endblock %}